Automobile management system
Group members:
Jofin(23122017)
Yeswanth P G(23122044)
Hiranlal(23122045)

In [4]:
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

class AutomobileManagementSystem:
    def __init__(self):
        self.vehicles = []

    def add_vehicle(self, vehicle):
        self.vehicles.append(vehicle)

    def find_vehicle_by_make(self, make):
        matching_vehicles = [vehicle for vehicle in self.vehicles if vehicle.make.lower() == make.lower()]
        return matching_vehicles

    def show_all_vehicles(self):
        for i, vehicle in enumerate(self.vehicles, start=1):
            print(f"Vehicle {i}:")
            print(f"Make: {vehicle.make}")
            print(f"Model: {vehicle.model}")
            print(f"Year: {vehicle.year}")
            print()

def main():
    auto_system = AutomobileManagementSystem()

    # Add some vehicles to the system
    vehicle1 = Vehicle("Toyota", "Camry", 2020)
    vehicle2 = Vehicle("Toyota", "Corolla", 2022)
    vehicle3 = Vehicle("Honda", "Civic", 2021)

    auto_system.add_vehicle(vehicle1)
    auto_system.add_vehicle(vehicle2)
    auto_system.add_vehicle(vehicle3)

    # Show all Toyota vehicles
    print("Toyota Vehicles:")
    toyota_vehicles = auto_system.find_vehicle_by_make("Toyota")
    if toyota_vehicles:
        for i, vehicle in enumerate(toyota_vehicles, start=1):
            print(f"Vehicle {i}:")
            print(f"Make: {vehicle.make}")
            print(f"Model: {vehicle.model}")
            print(f"Year: {vehicle.year}")
            print()
    else:
        print("No Toyota vehicles found.")

    # Show all vehicles
    print("\nAll Vehicles:")
    auto_system.show_all_vehicles()

if __name__ == "__main__":
    main()

Toyota Vehicles:
Vehicle 1:
Make: Toyota
Model: Camry
Year: 2020

Vehicle 2:
Make: Toyota
Model: Corolla
Year: 2022


All Vehicles:
Vehicle 1:
Make: Toyota
Model: Camry
Year: 2020

Vehicle 2:
Make: Toyota
Model: Corolla
Year: 2022

Vehicle 3:
Make: Honda
Model: Civic
Year: 2021

Data collection

In [5]:
import sqlite3

# Connect to the database
conn = sqlite3.connect("automobiles.db")
cursor = conn.cursor()

# Create a table to store vehicle information
cursor.execute('''CREATE TABLE IF NOT EXISTS vehicles (
                    id INTEGER PRIMARY KEY,
                    make TEXT,
                    model TEXT,
                    year INTEGER,
                    mileage REAL
                )''')
conn.commit()

Data analysis

In [6]:
def calculate_average_mileage(make):
    cursor.execute("SELECT AVG(mileage) FROM vehicles WHERE make=?", (make,))
    result = cursor.fetchone()
    return result[0] if result[0] else 0.0

average_mileage = calculate_average_mileage("Toyota")
print(f"Average mileage for Toyota vehicles: {average_mileage} miles")

Average mileage for Toyota vehicles: 0.0 miles

Data interpretation

In [10]:
def show_all_vehicles():
    cursor.execute("SELECT * FROM vehicles")
    vehicles = cursor.fetchall()
    for vehicle in vehicles:
        print(f"ID: {vehicle[0]}")
        print(f"Make: {vehicle[1]}")
        print(f"Model: {vehicle[2]}")
        print(f"Year: {vehicle[3]}")
        print(f"Mileage: {vehicle[4]} miles")
        print()

def main():
    while True:
        print("1. Add Vehicle")
        print("2. Show All Vehicles")
        print("3. Calculate Average Mileage for Toyota")
        print("4. Quit")

        choice = input("Enter your choice: ")

        if choice == "1":
            make = input("Enter the make: ")
            model = input("Enter the model: ")
            year = int(input("Enter the year: "))
            mileage = float(input("Enter the mileage: "))
            cursor.execute("INSERT INTO vehicles (make, model, year, mileage) VALUES (?, ?, ?, ?)",
                           (make, model, year, mileage))
            conn.commit()

        elif choice == "2":
            show_all_vehicles()

        elif choice == "3":
            average_mileage = calculate_average_mileage("Toyota")
            print(f"Average mileage for Toyota vehicles: {average_mileage} miles")

        elif choice == "4":
            break

if __name__ == "__main__":
    main()

1. Add Vehicle
2. Show All Vehicles
3. Calculate Average Mileage for Toyota
4. Quit
1. Add Vehicle
2. Show All Vehicles
3. Calculate Average Mileage for Toyota
4. Quit
1. Add Vehicle
2. Show All Vehicles
3. Calculate Average Mileage for Toyota
4. Quit
Average mileage for Toyota vehicles: 0.0 miles
1. Add Vehicle
2. Show All Vehicles
3. Calculate Average Mileage for Toyota
4. Quit
ID: 1
Make: hyundai
Model: i20
Year: 2019
Mileage: 18.0 miles

ID: 2
Make: toyota
Model: innova
Year: 2021
Mileage: 15.0 miles

ID: 3
Make: toyota
Model: supra
Year: 2004
Mileage: 12.0 miles

ID: 4
Make: toyota
Model: supra
Year: 2004
Mileage: 12.0 miles

ID: 5
Make: hyundai
Model: i20
Year: 2019
Mileage: 18.0 miles

1. Add Vehicle
2. Show All Vehicles
3. Calculate Average Mileage for Toyota
4. Quit
Average mileage for Toyota vehicles: 0.0 miles
1. Add Vehicle
2. Show All Vehicles
3. Calculate Average Mileage for Toyota
4. Quit