In [47]:
import random
item=["tomato","potato","carrot","cabbage","cauliflower","beans","onion","beetroot","raddish","brinjal"]
quantity =["10","12","30","32","22","13","20","16","18","25"]
price =["100","300","243","250","211","347","430","578","315","123"]
file= open("23122017.csv","w+")
def cat():
    for i in range(100):
        
        r1=random.randint(0,9)
        r2=random.randint(0,9)
        r3=random.randint(0,9)
        intquantity= int(quantity[r2])
        intprice = int(price[r3])
        total = intquantity*intprice
        grand_total = str(total)
        file.write(item[r1]+","+quantity[r2]+","+price[r3]+"\t Total = "+grand_total+"\n")
    file.close()
cat()
with open("23122017.csv","r+") as file:
    for line in file:
        if "potato" in line:

            lines=line.split()
            print(lines)

<_io.TextIOWrapper name='23122017.csv' mode='w+' encoding='cp1252'>

In [39]:
potato=[]
with open("23122017.csv","r+") as file:
    for line in file:
        if "potato" in line:

            lines=line.split()
            potato.append(lines[3])   
    print("Maximum Proce of Potato = ",min(potato))

Maximum Proce of Potato =  12716

In [42]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "tomato" in line:

            lines=line.split()
            print(lines)

['tomato,30,578', 'Total', '=', '17340']
['tomato,12,123', 'Total', '=', '1476']
['tomato,32,300', 'Total', '=', '9600']
['tomato,25,211', 'Total', '=', '5275']
['tomato,32,430', 'Total', '=', '13760']
['tomato,16,100', 'Total', '=', '1600']
['tomato,10,211', 'Total', '=', '2110']
['tomato,13,430', 'Total', '=', '5590']
['tomato,32,100', 'Total', '=', '3200']
['tomato,10,243', 'Total', '=', '2430']
['tomato,18,578', 'Total', '=', '10404']
['tomato,10,243', 'Total', '=', '2430']

In [16]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "carrot" in line:

            lines=line.split()
            print(lines)

['carrot,32,243', 'Total', '=', '7776']
['carrot,32,100', 'Total', '=', '3200']
['carrot,10,578', 'Total', '=', '5780']
['carrot,32,243', 'Total', '=', '7776']
['carrot,13,430', 'Total', '=', '5590']
['carrot,10,430', 'Total', '=', '4300']
['carrot,20,123', 'Total', '=', '2460']
['carrot,10,347', 'Total', '=', '3470']
['carrot,32,250', 'Total', '=', '8000']
['carrot,12,300', 'Total', '=', '3600']

In [17]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "cabbage" in line:

            lines=line.split()
            print(lines)

['cabbage,20,211', 'Total', '=', '4220']
['cabbage,20,123', 'Total', '=', '2460']
['cabbage,18,250', 'Total', '=', '4500']
['cabbage,22,578', 'Total', '=', '12716']
['cabbage,16,315', 'Total', '=', '5040']
['cabbage,18,315', 'Total', '=', '5670']
['cabbage,30,315', 'Total', '=', '9450']
['cabbage,32,300', 'Total', '=', '9600']
['cabbage,13,315', 'Total', '=', '4095']
['cabbage,10,300', 'Total', '=', '3000']

In [18]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "cauliflower" in line:

            lines=line.split()
            print(lines)

['cauliflower,20,211', 'Total', '=', '4220']
['cauliflower,22,211', 'Total', '=', '4642']
['cauliflower,20,315', 'Total', '=', '6300']
['cauliflower,25,100', 'Total', '=', '2500']
['cauliflower,25,243', 'Total', '=', '6075']
['cauliflower,25,347', 'Total', '=', '8675']
['cauliflower,18,250', 'Total', '=', '4500']
['cauliflower,10,243', 'Total', '=', '2430']

In [19]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "beans" in line:

            lines=line.split()
            print(lines)

['beans,13,243', 'Total', '=', '3159']
['beans,10,578', 'Total', '=', '5780']
['beans,30,211', 'Total', '=', '6330']
['beans,13,578', 'Total', '=', '7514']
['beans,30,315', 'Total', '=', '9450']
['beans,20,211', 'Total', '=', '4220']
['beans,32,211', 'Total', '=', '6752']

In [20]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "onion" in line:

            lines=line.split()
            print(lines)

['onion,32,347', 'Total', '=', '11104']
['onion,12,300', 'Total', '=', '3600']
['onion,25,315', 'Total', '=', '7875']
['onion,13,123', 'Total', '=', '1599']
['onion,22,347', 'Total', '=', '7634']
['onion,25,243', 'Total', '=', '6075']
['onion,10,300', 'Total', '=', '3000']
['onion,25,250', 'Total', '=', '6250']
['onion,18,123', 'Total', '=', '2214']
['onion,16,300', 'Total', '=', '4800']
['onion,18,347', 'Total', '=', '6246']
['onion,10,250', 'Total', '=', '2500']

In [21]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "beetroot" in line:

            lines=line.split()
            print(lines)

['beetroot,16,243', 'Total', '=', '3888']
['beetroot,30,347', 'Total', '=', '10410']
['beetroot,25,100', 'Total', '=', '2500']
['beetroot,30,250', 'Total', '=', '7500']
['beetroot,30,300', 'Total', '=', '9000']
['beetroot,16,430', 'Total', '=', '6880']
['beetroot,12,211', 'Total', '=', '2532']
['beetroot,13,250', 'Total', '=', '3250']
['beetroot,30,250', 'Total', '=', '7500']
['beetroot,10,578', 'Total', '=', '5780']
['beetroot,25,347', 'Total', '=', '8675']
['beetroot,10,578', 'Total', '=', '5780']
['beetroot,16,123', 'Total', '=', '1968']
['beetroot,18,243', 'Total', '=', '4374']
['beetroot,18,578', 'Total', '=', '10404']
['beetroot,20,100', 'Total', '=', '2000']

In [22]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "raddish" in line:

            lines=line.split()
            print(lines)

['raddish,25,211', 'Total', '=', '5275']
['raddish,10,578', 'Total', '=', '5780']
['raddish,13,243', 'Total', '=', '3159']
['raddish,16,315', 'Total', '=', '5040']
['raddish,30,578', 'Total', '=', '17340']
['raddish,25,243', 'Total', '=', '6075']
['raddish,30,300', 'Total', '=', '9000']
['raddish,22,100', 'Total', '=', '2200']
['raddish,10,300', 'Total', '=', '3000']
['raddish,30,243', 'Total', '=', '7290']
['raddish,12,211', 'Total', '=', '2532']

In [23]:
with open("23122017.csv","r+") as file:
    for line in file:
        if "brinjal" in line:

            lines=line.split()
            print(lines)

['brinjal,30,100', 'Total', '=', '3000']
['brinjal,13,300', 'Total', '=', '3900']
['brinjal,32,315', 'Total', '=', '10080']
['brinjal,30,315', 'Total', '=', '9450']
['brinjal,12,578', 'Total', '=', '6936']
['brinjal,25,100', 'Total', '=', '2500']
['brinjal,10,347', 'Total', '=', '3470']